* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr 120fr;

  grid-gap: 0.5em;
  height: 100vh;
  padding: 8px;
  grid-template-areas:
    "header"
    "recipe";
}

.banner {
  display: grid;
  background-color: #add8e6;
  grid-area: header;
  place-content: center;
}

.banner h1 {
  color: white;
  /* font-size: 35px; */
  font-weight: bold;
  width: 100%;
  height: 100%;
}

.recipe {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
  grid-gap: 1em;
  grid-area: recipe;
}

.left {
  display: grid;
  grid-template-rows: 0.2fr 0.2fr 3fr min-content;
  background-color: #add8e6;
  padding-left: 15px;
  border-radius: 30px 30px;
  justify-content: left;
  /* align-items: bottom; */
}

.image_dish {
  display: grid;
  align-content: center;

  /* grid-row-start: 6; */
  /* grid-column-end: 3; */
}

.image {
  width: 90%;
}

.right {
  display: grid;
  /* grid-template-rows: 1fr; */
  background-color: #add8e6;
  border-radius: 30px 30px;
  padding-left: 15px;

  /* justify-content: center; */

  /* align-items: stretch; */
}

.instructions {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
}

.ing {
  font-size: 20px;
}

body {
  background-color: #cbe5fd;
  font-family: "Akaya Kanadaka", cursive;
  margin: 0;
}

img {
  width: 80%;
}
